<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Assign Skills</title>
    <link href="/assets/css/bootsatrap.min.css" />
    <link href="/assets/css/style.css" />
</head>

<body>
    <div class="information">
        To assign skill values, select a skill in the
        first column then select a skill level
        in the second column,
    </div>
    <div class="container">
        <h3>Skills</h3>
        <button class="btn paired" disabled id="athletics">Athletics</button><br />
        <button class="btn btn-outline-secondary" id="combat">Combat</button><br />
        <button class="btn btn-outline-secondary" id="engineer">Engineer</button><br />
        <button class="btn btn-outline-secondary" id="pilot">Pilot</button><br />
        <button class="btn btn-outline-secondary" id="science">Science</button><br />
    </div>
    <div class="container">
        <h3>Levels</h3>
        <button class="btn btn-outline-secondary" id="level_0_3">3</button><br />
        <button class="btn btn-outline-secondary" id="level_1_2">2</button><br />
        <button class="btn btn-outline-secondary" id="level_2_2">2</button><br />
        <button class="btn paired" disabled id="level_3_1">1</button><br />
        <button class="btn btn-outline-secondary" id="level_4_0">0</button><br />
    </div>
    <div class="container">
        <h3>Assignments</h3>
        <button class="btn btn-outline-secondary" id="athletics_level_3_1">Athletics - 1</button><br />
        <button class="btn paired" disabled>?</button><br />
        <button class="btn paired" disabled>?</button><br />
        <button class="btn paired" disabled>?</button><br />
        <button class="btn paired" disabled>?</button><br />
    </div>
    <script src="/assets/js/bootstrap.min.cs" />
</body>

</html>